# Ignore Visual Studio files
.vs/
*.VC.db
*.VC.opendb
*.sln
*.user
*.filters
*.aps
*.ncb
*.suo
*.sdf
*.idb
*.pdb
*.ipch
*.tlog
*.log
*.ilk

# Ignore build files
build/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile
Debug/
Release/

# Ignore compiled files
*.exe
*.dll
*.lib
*.a
*.o

# Ignore SFML binaries
SFML-3.0.0/